asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.8
django-csvimport==2.16
django-dbbackup==3.3.0
django-mysql==3.11.1
filelock==3.0.12
googlemaps==4.4.2
idna==2.10
pyhunter==1.7
PyMySQL==1.0.2
pytz==2021.1
ratelimit==2.2.1
requests==2.25.1
requests-file==1.5.1
six==1.15.0
sqlparse==0.4.1
tldextract==3.1.0
urllib3==1.26.3
